.container {
    background-color: teal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

.flex-item {
    background-color: hotpink;
    padding: 1rem;
    margin: 0.5 rem;
}